<div class="container-full-flex-center dark">
  <h2>Registrazione</h2>
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <ion-input
      formControlName="nickname"
      placeholder="Nickname"
      required
    ></ion-input>
    <ion-input formControlName="phone" placeholder="Phone" required></ion-input>
    <ion-input
      formControlName="password"
      placeholder="Password"
      required
    ></ion-input>
    <button type="submit" class="light full-btn radius">Registrati</button>
  </form>

  <div class="sign-in-up-page-switch-container">
    <h3>Hai già un account?</h3>
    <button
      class="light full-btn radius"
      (click)="router.navigate(['sign-in'])"
    >
      Accedi
    </button>
  </div>
</div>
