<ion-header>
  <ion-toolbar color="dark">
    <ion-icon name="person" slot="start" (click)="router.navigate(['account'])">
    </ion-icon>
    <ion-title>Feed</ion-title>

    <ion-icon
      name="people"
      slot="primary"
      id="users-btn"
      (click)="router.navigate(['users'])"
    >
    </ion-icon>

    <ion-icon
      name="chatbubbles"
      slot="end"
      id="chats-btn"
      (click)="router.navigate(['chats'])"
    >
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="container" color="dark" *ngIf="posts">
  <div
    *ngFor="let post of posts, index as postIndex"
    class="post"
    (dblclick)="like(post.id, postIndex)"
  >
    <img [src]="post.imageUrl" />
    <p>{{post.creator.nickname}}</p>
    <p>{{post.message}}</p>
    <div class="like-comments-container">
      <span (click)="like(post.id, postIndex)"
        >Like: {{post.likes.length}}</span
      >
      <span (click)="openComments(postIndex)"
        >Commenti: {{post.comments.length}}</span
      >
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-modal [isOpen]="createPostModalVisibilty">
  <ng-template>
    <div class="modal container-full-flex-center dark">
      <ion-icon
        id="close-btn"
        name="close-outline"
        (click)="toggleCreatePostModal()"
      ></ion-icon>
      <h3>Crea Post</h3>
      <form [formGroup]="form" (ngSubmit)="publish()">
        <ion-input
          formControlName="imgUrl"
          placeholder="Url Immagine"
        ></ion-input>
        <ion-input formControlName="caption" placeholder="Testo"></ion-input>
        <button type="submit" class="full-btn light radius">Pubblica</button>
      </form>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="commentsModalVisibility">
  <ng-template>
    <div class="modal container-100 dark">
      <ion-icon
        id="close-btn"
        name="close-outline"
        (click)="toggleCommentsModal()"
      ></ion-icon>
      <h3>Commenti</h3>
      <div class="comments-container">
        <div *ngFor="let comment of postSelected.comments" class="comment">
          <span id="nickname">{{comment.user.nickname}}</span>
          <span id="message">{{comment.message}}</span>
        </div>
      </div>
      <div class="create-comment-container">
        <div class="create-comment">
          <ion-input
            [formControl]="comment"
            placeholder="Commento..."
          ></ion-input>
          <button
            class="full-btn light radius"
            expand="block"
            (click)="publishComment()"
          >
            Pubblica
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<button class="dark" id="bottom-btn" (click)="toggleCreatePostModal()">
  Crea Post
</button>
