<div class="container-full-flex-center dark">
  <h2>Accesso</h2>
  <form [formGroup]="form" (ngSubmit)="signIn()">
    <ion-input
      formControlName="nickname"
      placeholder="Nickname"
      required
    ></ion-input>
    <ion-input
      formControlName="password"
      placeholder="Password"
      required
    ></ion-input>
    <button type="submit" class="light full-btn border">Accedi</button>
  </form>

  <div class="sign-in-up-page-switch-container">
    <h3>Non hai un account?</h3>
    <button
      class="light full-btn radius"
      (click)="router.navigate(['sign-up'])"
    >
      Registrati
    </button>
  </div>
</div>
