/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container-full-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.container-full-flex-beetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.container-full {
  width: 100%;
  height: 100%;

  overflow-y: auto;
}

.m-0 {
  margin: 0;
}

.scroll {
  overflow-y: auto;
}

.container-100 {
  width: 100%;
  height: 100%;

  padding: 20px;

  overflow-y: auto;
}

form,
.modal-form {
  width: 80%;

  ion-input {
    width: 100%;
    margin-bottom: 20px;

    padding: 10px;
    border-bottom: 1px solid gray;
  }
}

.dark {
  color: #fff !important;
  background: #1c1c1c !important;
}

.dark-bg {
  color: #fff;
  background: #000;
}

.light {
  color: #000;
  background: #fff;
}

.full-btn {
  width: 100%;
  padding: 12px;
  outline: none;
}

.radius {
  border-radius: 4px;
}

.sign-in-up-page-switch-container {
  width: 80%;
  margin-top: 40px;
  text-align: center;
}

#bottom-btn {
  margin: 0;
  padding: 16px;
}
